{% extends "billets/base_generic.html" %}

{% block title %}Flux LITRevu{% endblock %}

{% block content %}
<h2>Flux</h2>
<ul>
    {% for billet in billets %}
        <li>
            {{ billet.title }} - {{ billet.user.username }}
            {% if billet.user == request.user %}
                <a href="{% url 'billets:modifier' billet.pk %}">Modifier</a>
                <a href="{% url 'billets:supprimer' billet.pk %}">Supprimer</a>
            {% endif %}
            <ul>
                {% for commentaire in billet.commentaires.all %}
                    <li>
                        {{ commentaire.headline }} - {{ commentaire.user.username }}
                        {% if commentaire.user == request.user %}
                            <a href="{% url 'billets:commentaire_modifier' commentaire.pk %}">Modifier</a>
                            <a href="{% url 'billets:commentaire_supprimer' commentaire.pk %}">Supprimer</a>
                        {% endif %}
                    </li>
                {% empty %}
                    <li>Aucun commentaire.</li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>Aucun billet disponible.</li>
    {% endfor %}
</ul>
{% endblock %}